<div id="{{ page.handle }}" class="page row">
  <div class="page-content span8">
    <ul class="press clearfix">
      <li class="third">
        <a class="press-box" href="http://www.inspiredbythis.com/wed/vineyard-wedding-farmers-market/" target="_blank">
          <div class="press-image ibt-logo"></div>
          <p class="press-description">
            Farmer's Market Vineyard Wedding
          </p>
        </a>
      </li>
      <li class="third">
        <a class="press-box fancybox" rel="knotmag" title="Page 1 of 5" href="{{ 'knotmag_spread1_web.jpg' | asset_url }}">
          <div class="press-image-fill knotmag-cover"></div>
          <p class="press-description">
            Villa at Sunstone Vineyard Wedding (print)
          </p>
        </a>
        <a class="fancybox" rel="knotmag" title="Page 2 of 5" href="{{ 'knotmag_spread2_web.jpg' | asset_url }}"></a>
        <a class="fancybox" rel="knotmag" title="Page 3 of 5" href="{{ 'knotmag_spread3_web.jpg' | asset_url }}"></a>
        <a class="fancybox" rel="knotmag" title="Page 4 of 5" href="{{ 'knotmag_spread4_web.jpg' | asset_url }}"></a>
        <a class="fancybox" rel="knotmag" title="Page 5 of 5" href="{{ 'knotmag_spread5_web.jpg' | asset_url }}"></a>
      </li>

      <li class="third">
        <a class="press-box" href="http://www.theknot.com/weddings/album/a-villa-at-sunstone-vineyards-wedding-in-santa-ynez-california-159616" target="_blank">
          <div class="press-image press-pic-1"></div>
          <p class="press-description">
            Villa at Sunstone Vineyard Wedding (online)
          </p>
        </a>
      </li>
      <li class="third">
        <a class="press-box" href="http://www.100layercake.com/blog/2014/05/26/summer-cocktail-inspiration-whaling-club/" target="_blank">
          <div class="press-image press-pic-5"></div>
          <p class="press-description">
            Summer Cocktail Inspiration from The Whaling Club
          </p>
        </a>
      </li>
      <li class="third">
        <a class="press-box" href="http://greenweddingshoes.com/60s-inspired-smog-shoppe-wedding-shannon-nick/" target="_blank">
          <div class="press-image press-pic-2"></div>
          <p class="press-description">
            60's Inspired Smog Shoppe Wedding
          </p>
        </a>
      </li>
      <li class="third">
        <a class="press-box" href="http://greenweddingshoes.com/romantic-mardi-gras-wedding-inspiration/" target="_blank">
          <div class="press-image press-pic-3"></div>
          <p class="press-description">
            Romantic Mardi Gras Wedding Inspiration
          </p>
        </a>
      </li>
      <li class="third">
        <a class="press-box" href="http://www.100layercake.com/blog/2013/03/19/beachside-rehearsal-dinner-party/" target="_blank">
          <div class="press-image press-pic-4"></div>
          <p class="press-description">
            Beach Rehearsal Dinner Party
          </p>
        </a>
      </li>
      <li class="third">
        <a class="press-box" href="http://www.100layercake.com/blog/2012/02/24/lets-have-an-oscar-party/" target="_blank">
          <div class="press-image press-pic-5"></div>
          <p class="press-description">
            Sparkly Oscar Party Decor
          </p>
        </a>
      </li>
      <li class="third">
        <a class="press-box" href="http://www.huffingtonpost.com/2012/02/24/free-printables-oscar-party-ideas_n_1298434.html" target="_blank">
          <div class="press-image press-pic-6"></div>
          <p class="press-description">
            Oscar Party Ideas
          </p>
        </a>
      </li>
      <li class="third">
        <a class="press-box" href="http://blog.lovepost.com/papergoods-pretty-qa-with-rachel-kashon-of-lupa-pepi" target="_blank">
          <div class="press-image press-pic-7"></div>
          <p class="press-description">
            Papergoods Pretty: Q &amp; A with Lupa &amp; Pepi
          </p>
        </a>
      </li>      
    </ul>
  </div>
  <div class="span4">
       {% include 'sidebar' %}
  </div>
</div>
