/*NOT IN USE - CUSTOM COLLECTION USED INSTEAD*/

<div id="{{ page.handle }}" class="portfolio row">

  <div class="span8">

    <div class = "portfolio-images">
      <ul class="press clearfix">
        <li class="third">
          <!--a class="portfolio-box" href="#" target="_blank"-->
          <div class="portfolio-image"><img src="{{ 'portfolio_1-1.jpg' | asset_url }}" alt="" /></div>
          <p class="portfolio-description">
            Wedding Suite - Deco Navigation
          </p>
          <!--/a-->
        </li>
        <li class="third">
          <!--a class="portfolio-box" href="#" target="_blank"-->
          <div class="portfolio-image"><img src="{{ 'portfolio_2-1.jpg' | asset_url }}" alt="" /></div>
          <p class="portfolio-description">
            Wedding Suite - Neon
          </p>
          <!--/a-->
        </li>
        <li class="third">
          <!--a class="portfolio-box" href="#" target="_blank"-->
          <div class="portfolio-image"><img src="{{ 'portfolio_3-1.jpg' | asset_url }}" alt="" /></div>
          <p class="portfolio-description">
            Wedding Suite - Marie Antoinette
          </p>
          <!--/a-->
        </li>
        <li class="third">
          <!--a class="portfolio-box" href="#" target="_blank"-->
          <div class="portfolio-image"><img src="{{ 'portfolio_4-1.jpg' | asset_url }}" alt="" /></div>
          <p class="portfolio-description">
            Rehearsal Dinner - Tramonto
          </p>
          <!--/a-->
        </li>
        <li class="third">
          <!--a class="portfolio-box" href="#" target="_blank"-->
          <div class="portfolio-image"><img src="{{ 'portfolio_5-1.jpg' | asset_url }}" alt="" /></div>
          <p class="portfolio-description">
            Baby Announcement - Airplane Banner
          </p>
          <!--/a-->
        </li>
        <li class="third">
          <!--a class="portfolio-box" href="#" target="_blank"-->
          <div class="portfolio-image"><img src="{{ 'portfolio_6-1.jpg' | asset_url }}" alt="" /></div>
          <p class="portfolio-description">
            Baby Announcement - Hand Drawn Color Block
          </p>
          <!--/a-->
        </li>
        <li class="third">
          <!--a class="portfolio-box" href="#" target="_blank"-->
          <div class="portfolio-image"><img src="{{ 'portfolio_7-1.jpg' | asset_url }}" alt="" /></div>
          <p class="portfolio-description">
            Baby Announcement - 2011 Was Awesome
          </p>
          <!--/a-->
        </li>
        <li class="third">
          <!--a class="portfolio-box" href="#" target="_blank"-->
          <div class="portfolio-image"><img src="{{ 'portfolio_8-1.jpg' | asset_url }}" alt="" /></div>
          <p class="portfolio-description">
            Baby Shower - Zoo Animal
          </p>
          <!--/a-->
        </li>
        <li class="third">
          <!--a class="portfolio-box" href="#" target="_blank"-->
          <div class="portfolio-image"><img src="{{ 'portfolio_9-1.jpg' | asset_url }}" alt="" /></div>
          <p class="portfolio-description">
            Baby Shower - A Little One's Coming
          </p>
          <!--/a-->
        </li>
        <li class="third">
          <!--a class="portfolio-box" href="#" target="_blank"-->
          <div class="portfolio-image"><img src="{{ 'portfolio_10-1.jpg' | asset_url }}" alt="" /></div>
          <p class="portfolio-description">
            Stationary Set - Moderno
          </p>
          <!--/a-->
        </li>
        <li class="third">
          <!--a class="portfolio-box" href="#" target="_blank"-->
          <div class="portfolio-image"><img src="{{ 'portfolio_11-1.jpg' | asset_url }}" alt="" /></div>
          <p class="portfolio-description">
            Business Card - Lovely Indeed
          </p>
          <!--/a-->
        </li>
        <li class="third">
          <!--a class="portfolio-box" href="#" target="_blank"-->
          <div class="portfolio-image"><img src="{{ 'portfolio_12-1.jpg' | asset_url }}" alt="" /></div>
          <p class="portfolio-description">
            Business Card - Roundhouse Designs
          </p>
          <!--/a-->
        </li>
        <li class="third">
          <!--a class="portfolio-box" href="#" target="_blank"-->
          <div class="portfolio-image"><img src="{{ 'portfolio_13-1.jpg' | asset_url }}" alt="" /></div>
          <p class="portfolio-description">
            Notecards - Blue &amp; Gold
          </p>
          <!--/a-->
        </li>
        <li class="third">
          <!--a class="portfolio-box" href="#" target="_blank"-->
          <div class="portfolio-image"><img src="{{ 'portfolio_14-1.jpg' | asset_url }}" alt="" /></div>
          <p class="portfolio-description">
            Notecards - Nautical Flag
          </p>
          <!--/a-->
        </li>
      </ul>
    </div>

    {% include 'form-custom' %}

    <!-- sidebar -->
    <div class="span4">
      <!-- TODO: add sidebar? -->
    </div>
  </div>
</div>
